[submodule "oj-user"]
	path = oj-user
	url = git@github.com:dmnotdm/oj-user.git
[submodule "oj-problem"]
	path = oj-problem
	url = git@github.com:dmnotdm/oj-problem.git
[submodule "oj-core"]
	path = oj-core
	url = git@github.com:dmnotdm/oj-core.git
